:root {
    --background-color-1: #121212;

    --Accents-Highlights: #FFD700;
    
    --first-font-color: #0DC1FA;
    --second-font-color: #0F65A7;

    --third-option-color: white;
}

/* global styles */
body, html {
    font-family: poppins;
    font-size: 1rem;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: var(--Accents-Highlights) !important;
}

i {
    color: var(--third-option-color);
    font-size: 30px;
}