notloggedin {
    position: fixed;
    height: 100%;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notloggedWrapper {
    display: flex;
    flex-direction: column;
    background: var(--background-color-2);
    color: var(--pure-white);
    padding: 15px;
    border-radius: var(--border-radius);
    z-index: 1;
}

.notloggedWrapper .headerError {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.notloggedWrapper i {
    font-size: 100px;
    color: var(--primary-font);
}

.textWithLink {
    display: flex;
    gap: 8px;
}