footerbar {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: end;
    padding-right: 10px;
    background: var(--background-color-2);
    color: var(--primary-font);
}

@media (max-width: 500px) {
    footerbar {
        justify-content: start;
        text-align: left;
    }
}