/* header */
headerSidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-1);
    border-right: solid;
    width: 50vw;
    min-width: 200px;
    max-width: 300px;
    border-radius: 0px 20px 20px 0px;
    align-items: center;
    justify-content: center;
    position: relative;
    position: sticky;
    gap: 20px;
    top: 0;
}

.linksWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linkWithIcon {
    align-items: center;
    display: flex;
    gap: 7px;
}

#extendIcon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}

@media (max-width: 500px) {
    headersidebar {
        flex-direction: row;
        height: 100px;
        width: -webkit-fill-available;
        max-width: unset;
        border-radius: 10px 10px 0px 0px;
        justify-content: space-around;
        position: fixed;

        top: unset;
        bottom: 0;
        overflow: auto;
        border: solid;
        z-index: 1;
        overflow: auto;
    }

    headersidebar .logo, #extendIcon {
        display: none;
    }

    .linksWrapper {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        padding: 0px 15px;
        font-size: 0.8rem;
    }

    .linkWithIcon {
        flex-direction: column;
        white-space: nowrap;
    }
}