.song {
    display: flex;
    width: 350px;
    height: 75px;
    align-items: center;
    background: var(--background-color-1);
    color: var(--Accents-Highlights);
    justify-content: space-between;
    border-radius: 10px;
}

.song img {
    display: flex;
    height: 100%;
    width: min-content;
    border-radius: 15px;
}

.song .textWrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.playSong {
    display: flex;
    cursor: pointer;
}