home {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background: var(--background-color-1);
    overflow: auto;
}

.top10played {
    display: flex;
    margin: 0px 20px;
    gap: 30px;
    flex-wrap: wrap;
}

.top10RecentPlaylist {
    display: flex;
    margin: 0px 20px;
    row-gap: 30px;
    column-gap: 10px;
    flex-wrap: wrap;
}

.populairSongs {
    display: flex;
    flex-direction: column;
    padding-bottom: 75px;
}

@media (max-width: 500px) {
    home {
        width: 100vw;
    }
    .top10played {
        justify-content: center;
    }

    .top10RecentPlaylist {
        justify-content: center;
    }
}