#homeFeed {
    padding-bottom: var(--footer-height);
}

#homeFeed .songList {
    flex-wrap: nowrap;
    overflow: auto;
    padding: 20px 0px;
    position: relative;
    left: 0;
    scroll-snap-type: x mandatory;
    justify-content: left;
}

#homeFeed .song {
    flex-direction: column;
    width: 175px;
    height: auto;
    align-items: baseline;
}

#homeFeed .playSong {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

#homeFeed .playSong img {
    height: 175px;
    width: 175px;
    object-fit: cover;
}

#homeFeed .song .textWrapper {
    width: -webkit-fill-available;
}

#homeFeed .textWrapper{
    padding: 5px 10px;
}

#homeFeed .playSong .lengthSong {
    display: none;
}