div#recentSearched {
    padding-bottom: var(--padding-footer-sections);
}

.searchbarWrapper {
    display: flex;
    align-items: center;
}

search .songList,
search .videoList,
search .albumList,
search .playlistList,
search .artistList {
    display: none;
    justify-content: center;
}

.visibleList {
    display: flex !important;
}

/* filters */
#filters {
    display: flex;
    margin: 0px 20px 20px;
    flex-wrap: wrap;
    text-transform: capitalize;
    gap: 10px;
    justify-content: end;
}

#filters button {
    border-radius: 5px;
    text-transform: capitalize;
}

.filterMainName {
    display: flex;
    color: var(--pure-white);
    background: var(--background-color-2);
    border-radius: var(--border-radius);
}

#filters .selected {
    background: var(--accent-font-color);
}

@media (max-width: 500px) {
    .searchbarWrapper {
        display: flex;
        justify-content: center;
    }
}