div#recentSearched {
    padding-bottom: var(--padding-footer-sections);
}

.searchbarWrapper {
    display: flex;
    align-items: center;
    position: relative;
}

#suggestSearchItems {
    position: relative;
    margin: 0px 20px;
}

#suggestSearchItems .itemsWrapper {
    display: none;
    flex-direction: column;
    max-width: 300px;
    padding: 5px 20px;
    color: var(--pure-white);
    position: absolute;
    background: var(--background-shade);
    border-radius: 0px 0px 10px 10px;
}

#suggestSearchItems .itemsWrapper::has(> div) {
    background: none;
}

.suggestionItem:hover {
    text-decoration: underline;
    cursor: pointer;
}

search .songList,
search .videoList,
search .albumList,
search .playlistList,
search .artistList {
    display: none;
    justify-content: center;
}

#pageLoadedItems .songList,
#pageLoadedItems .videoList,
#pageLoadedItems .albumList,
#pageLoadedItems .playlistList,
#pageLoadedItems .artistList {
    display: flex;
}

.visibleList {
    display: flex !important;
}

/* filters */
#filters {
    display: flex;
    margin: 0px 20px 20px;
    flex-wrap: wrap;
    text-transform: capitalize;
    gap: 10px;
    justify-content: end;
}

#filters button {
    border-radius: 5px;
    text-transform: capitalize;
}

.filterMainName {
    display: flex;
    color: var(--pure-white);
    background: var(--background-color-2);
    border-radius: var(--border-radius);
}

#filters .selected {
    background: var(--accent-font-color);
}

@media (max-width: 500px) {
    .searchbarWrapper {
        display: flex;
        justify-content: center;
    }
}